runTime: 2
goalThreshold: 0.15
start: [-0.75, -0.75, 1.57]
goal: [0.0, 0.0, 0]
xBound: [-1, 1]
yBound: [-1, 1]
controlDurationBound: [1, 1]
propagationStepSize: 1
planner: "SST"
objective: "PathLength"
# objective: "WeightedLengthAndClearanceCombo"
file: "path.txt"
obstacles:
  -
    type: "Square"
    x: 0.0
    y: -0.75
    l: 0.3

dynamics:
  1:
    A: [[1, 0, 0],
        [0, 1, 0],
        [0, 0, 0]]
    b: [0.125, 0, 0]
  2:
    A: [[1, 0, 0],
        [0, 1, 0],
        [0, 0, 0]]
    b: [0, 0.125, 1.570795]
  3:
    A: [[1, 0, 0],
        [0, 1, 0],
        [0, 0, 0]]
    b: [-0.125, 0, 3.14159]
  4:
    A: [[1, 0, 0],
        [0, 1, 0],
        [0, 0, 0]]
    b: [0, -0.125, -1.570795]
